main {
  padding: 80px 0 0 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .mainWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .mainWrapper .main__filmsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (22%)[4];
      grid-template-columns: repeat(4, 22%);
  gap: 0px 4%;
  margin: 0 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .innerSection {
  width: 95%;
  border-top: 4px solid #e2e2e2;
  border-bottom: 4px solid #e2e2e2;
  margin-bottom: 40px;
  padding: 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .innerSection .innerSection__title {
  margin: 24px 0;
  font-weight: 500;
  font-size: 20px;
}

main .innerSection .innerSection__postsWrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 2%;
}

main.main.bigMain {
  padding-left: 72px;
  max-width: calc(100vw - 72px);
}

@media screen and (max-width: 1280px) {
  main {
    -webkit-transition: .2s;
    transition: .2s;
  }
  main .mainWrapper .main__filmsWrapper {
    -ms-grid-columns: (31%)[3];
        grid-template-columns: repeat(3, 31%);
  }
}

@media screen and (max-width: 1040px) {
  .main .mainWrapper .main__filmsWrapper {
    -ms-grid-columns: (48%)[2];
        grid-template-columns: repeat(2, 48%);
  }
  .main .mainWrapper .innerSection .innerSection__postsWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
  }
}

@media screen and (max-width: 765px) {
  .main {
    padding-left: 72px;
  }
  .main .mainWrapper .main__filmsWrapper {
    -ms-grid-columns: (70%)[1];
        grid-template-columns: repeat(1, 70%);
  }
  .main .mainWrapper .innerSection .innerSection__postsWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (70%)[1];
        grid-template-columns: repeat(1, 70%);
  }
  main.main.bigMain {
    padding-left: 0px;
    max-width: 100vw;
  }
}

@media screen and (max-width: 420px) {
  .main .mainWrapper .main__filmsWrapper {
    margin: auto;
  }
  .main .mainWrapper .innerSection {
    padding: 0;
  }
  .main .mainWrapper .innerSection .innerSection__postsWrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (90%)[1];
        grid-template-columns: repeat(1, 90%);
  }
}
/*# sourceMappingURL=style.css.map */