@import '../../styles/Sass/_variables'

.headerButton__wrapper
  margin: 0 4px
  height: 40px
  width: 40px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  padding: 8px
  flex-shrink: 0
  border-radius: 50%
  transition: .3s
  .headerButton__icon
    max-height: 24px
    width: 24px
    display: flex
    align-items: center
    filter: invert(36%) sepia(0%) saturate(1381%) hue-rotate(171deg) brightness(100%) contrast(86%)
  &:hover
    cursor: pointer
  &:active
    background-color: $borderColor
