.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 34px 0 16px;
  height: 56px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.98);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 30;
}

.header .header__userOptionsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__userOptionsWrapper .header__iconWrapper:nth-child(2) .header__icon {
  width: 16px;
}

.header .header__userOptionsWrapper .header__profilePictureWrapper {
  height: 32px;
  width: 32px;
  margin: 0 13px 0 17px;
  position: relative;
}

.header .header__userOptionsWrapper .header__profilePictureWrapper .header__profilePicture {
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
}

.header .header__userOptionsWrapper .header__profilePictureWrapper .header__profilePicture:active {
  -webkit-box-shadow: 0px 0px 0px 1px #065fd4;
          box-shadow: 0px 0px 0px 1px #065fd4;
}

.header .header__userOptionsWrapper .header__profilePictureWrapper .header__listWrapper {
  right: 140%;
  top: 0;
}

.header .header__iconWrapper {
  position: relative;
}

.header .header__listWrapper {
  position: absolute;
  top: 100%;
  background-color: #fff;
  min-width: 270px;
  max-height: 90vh;
  z-index: 3;
}

.createToggler .header__listWrapper {
  left: 0;
}

.aplicationsToggler .header__listWrapper {
  right: 0;
}

.active .header__listWrapper {
  display: block;
}

.labelToggler {
  position: relative;
}

.labelToggler .label {
  position: absolute;
  top: 57px;
  z-index: 2;
  padding: 8px 5px;
  background-color: #707070dd;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  height: 30px;
  white-space: nowrap;
  display: none;
}

.labelToggler:hover .label {
  display: block;
}

.labelToggler.search__submitWrapper .label {
  left: 15%;
  top: 51px;
}

@media screen and (max-width: 605px) {
  .header .header__searchWrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .header__searchWrapper .header__searchAreaWrapper,
  .header .header__searchWrapper .header__searchIconWrapper {
    display: none;
  }
  .header .header__searchWrapper .searchIconWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .labelToggler:nth-child(4) {
    display: block;
  }
  .header .header__searchWrapper.active {
    position: absolute;
    width: 100%;
    max-width: 90vw;
    background-color: #fff;
    margin-left: 0;
    z-index: 20;
  }
  .header .header__searchWrapper.active .header__backWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    padding: 2px;
  }
  .header .header__searchWrapper.active .header__backWrapper:active {
    background-color: #e2e2e2;
  }
  .header .header__searchWrapper.active .header__searchAreaWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__searchWrapper.active .header__searchIconWrapper {
    display: block;
  }
  .header__profilePictureWrapper .header__listWrapper {
    right: 0;
    top: 110%;
  }
}
/*# sourceMappingURL=style.css.map */