@import '../../styles/Sass/_variables'

.header
  position: fixed
  top: 0
  left: 0
  padding: 0 34px 0 16px
  height: 56px
  width: 100vw
  background-color: rgba(255, 255, 255, .98)
  display: flex
  align-items: center
  justify-content: space-between
  z-index: 30
  .header__userOptionsWrapper
    display: flex
    flex-direction: row
    align-items: center
    .header__iconWrapper:nth-child(2)
      .header__icon
        width: 16px

    .header__profilePictureWrapper
      height: 32px
      width: 32px
      margin: 0 13px 0 17px
      position: relative
      .header__profilePicture
        border-radius: 50%
        box-sizing: content-box
        cursor: pointer
        &:active
          box-shadow: 0px 0px 0px 1px rgba(6,95,212,1)
      .header__listWrapper
        right: 140%
        top: 0

  .header__iconWrapper
    position: relative

  .header__listWrapper
    position: absolute
    top: 100%
    background-color: #fff
    min-width: 270px
    max-height: 90vh
    z-index: 3

.createToggler
  .header__listWrapper
    left: 0

.aplicationsToggler
  .header__listWrapper
    right: 0

.header__profilePictureWrapper
  

.active
  .header__listWrapper
    display: block

.labelToggler
  position: relative
  .label
    position: absolute
    top: 57px
    z-index: 2
    padding: 8px 5px
    background-color: #707070dd
    border-radius: 2px
    color: white
    font-size: 12px
    height: 30px
    white-space: nowrap
    display: none
  &:hover
    .label
      display: block
  &.search__submitWrapper
    .label
      left: 15%
      top: 51px



@media screen and (max-width: 605px)
  .header
    .header__searchWrapper
      justify-content: flex-end
      .header__searchAreaWrapper,
      .header__searchIconWrapper
        display: none
      .searchIconWrapper
        display: flex

    .labelToggler
      &:nth-child(4)
        display: block

    .header__searchWrapper.active
      position: absolute
      width: 100%
      max-width: 90vw
      background-color: #fff
      margin-left: 0
      z-index: 20
      .header__backWrapper
        display: flex
        align-items: center
        cursor: pointer
        border-radius: 50%
        flex-shrink: 0
        margin-right: 10px
        height: 30px
        width: 30px
        padding: 2px
        &:active
          background-color: $borderColor
      .header__searchAreaWrapper
        display: flex
      .header__searchIconWrapper
        display: block
  .header__profilePictureWrapper
    .header__listWrapper
      right: 0
      top: 110%
