.smallAside {
  padding-top: 6px;
  width: 72px;
  z-index: 7;
}

.smallAside .buttonWrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-top: 18px;
}

.smallAside .buttonWrapper .navButton__icon {
  margin-right: 0;
}

.smallAside .buttonWrapper .navButton__text {
  max-width: none;
  font-size: 10px;
  margin-top: 10px;
  color: invert(38%) sepia(4%) saturate(3%) hue-rotate(340deg) brightness(99%) contrast(96%);
}

@media screen and (max-width: 665px) {
  .smallAside {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */