@import '../../styles/Sass/_variables'

.smallAside
  padding-top: 6px
  width: 72px
  z-index: 7
  .buttonWrapper
    flex-direction: column
    height: auto
    margin-top: 18px
    .navButton__icon 
      margin-right: 0
    .navButton__text
      max-width: none
      font-size: 10px
      margin-top: 10px
      color: invert(38%) sepia(4%) saturate(3%) hue-rotate(340deg) brightness(99%) contrast(96%)

@media screen and (max-width: 665px)
  .smallAside
    display: none


  @import '../../../styles/_variables'

.aside.asideSmall
  width: 72px
  z-index: 7
  .buttonWrapper
    flex-direction: column
    height: auto
    margin-top: 18px
    .navButton__icon 
      margin-right: 0
    .navButton__text
      max-width: none
      font-size: 10px
      margin-top: 10px
      color: $iconColor
  
  .ownScrollBar
    &:hover
      &::-webkit-scrollbar
       width: 0