.notificationsBox {
  width: 90vw;
  max-width: 480px;
  right: 0;
  border-left: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  background-color: #f9f9f9;
  max-height: 70vh;
}

.notificationsBox .header__listTitleWrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4px 8px 4px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notificationsBox .header__listTitleWrapper .header__listTitle {
  font-size: 16px;
  font-weight: 400;
}

.notificationsBox .header__listTitleWrapper .notifications__imgWrapper {
  height: 40px;
  width: 40px;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
}

.notificationsBox .header__listTitleWrapper .notifications__imgWrapper .notifications__Img {
  -webkit-filter: invert(59%) sepia(0%) saturate(127%) hue-rotate(181deg) brightness(102%) contrast(68%);
          filter: invert(59%) sepia(0%) saturate(127%) hue-rotate(181deg) brightness(102%) contrast(68%);
}

.notificationsBox .header__listTitleWrapper .notifications__imgWrapper:active {
  background-color: #e2e2e2;
}

.notificationsBox .notificationWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 16px 16px 4px;
}

.notificationsBox .notificationWrapper .notification__avatarWrapper {
  margin-right: 16px;
}

.notificationsBox .notificationWrapper .notification__avatarWrapper .notification__avatar {
  width: 48px;
}

.notificationsBox .notificationWrapper .notification__textWrapper {
  width: 232px;
  text-align: left;
}

.notificationsBox .notificationWrapper .notification__textWrapper .notification__text {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 8px;
}

.notificationsBox .notificationWrapper .notification__filmShortWrapper {
  width: 86px;
  height: 48px;
  margin: 0 56px 0 16px;
}

.notificationsBox .notificationWrapper:hover {
  background-color: #f0f0f0;
}

.header__list.ownScrollBar::-webkit-scrollbar {
  width: 10px;
}
/*# sourceMappingURL=style.css.map */