@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')
@import '../../components/styles/Sass/_variables'

*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none

button
  border: none
  background: none
  cursor: pointer
  text-align: center

img
  max-height: 100%
  max-width: 100%

a
  text-decoration: none
  color: #000

body
  font-family: 'Roboto', sans-serif
  background-color: #f9f9f9
  overflow-x: hidden

.ownScrollBar
  overflow-x: hidden
  overflow-y: scroll
  &::-webkit-scrollbar
    width: 0
  &:hover
    &::-webkit-scrollbar
      width: 10px
    &::-webkit-scrollbar-thumb
      background-color: #cfcfcf

.profilAvatar
  border-radius: 50%

.buttonWrapper
  display: flex
  align-items: center
  text-align: left

.listSection
  border-bottom: 1px solid $borderColor
