@import '../../styles/Sass/_variables'

.search__seachBoxWrapper
  display: flex
  margin-left: 40px
  flex-grow: 1
  align-items: center

.searchWrapper
  display: flex
  width: 100%
  max-width: 44vw
  .backWrapper
    display: none
  .searchAreaWrapper
    border: 1px solid $borderColor
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    display: flex
    align-items: center
    padding: 2px 6px
    width: 100%
    .searchInput
      border: none
      font-size: 16px
      line-height: 24px
      width: 100%
    .searchKeyboard
      margin-right: 6px
      &:active
        transform: scale(.9)

  .search__submitWrapper
    height: 30px
    width: 65px
    flex-shrink: 0
    .search__submitImg
      width: 100%
      height: 100%
      cursor: pointer
      background-image: url('images/search.svg')
      background-position: center
      background-repeat: no-repeat
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px
      border-top: 1px solid $borderColor
      border-right: 1px solid $borderColor
      border-bottom: 1px solid $borderColor
      border-left: none
    .searchIconImg
      height: 20px
      width: 20px
      filter: invert(38%) sepia(4%) saturate(3%) hue-rotate(340deg) brightness(99%) contrast(96%)

@media screen and (max-width: 605px)
  .header__searchWrapper
    justify-content: flex-end
    .header__searchAreaWrapper,
    .search__submitWrapper
      display: none
    .searchIconWrapper
      display: flex

  .labelToggler
    &:nth-child(4)
      display: block

  .header__searchWrapper.active
    position: absolute
    width: 100%
    max-width: 90vw
    background-color: #fff
    margin-left: 0
    z-index: 20
    .header__backWrapper
      display: flex
      align-items: center
      cursor: pointer
      border-radius: 50%
      flex-shrink: 0
      margin-right: 10px
      height: 30px
      width: 30px
      padding: 2px
      &:active
        background-color: $borderColor
    .header__searchAreaWrapper
      display: flex
    .search__submitWrapper
      display: block
