.search__seachBoxWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 44vw;
}

.searchWrapper .backWrapper {
  display: none;
}

.searchWrapper .searchAreaWrapper {
  border: 1px solid #e2e2e2;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px 6px;
  width: 100%;
}

.searchWrapper .searchAreaWrapper .searchInput {
  border: none;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

.searchWrapper .searchAreaWrapper .searchKeyboard {
  margin-right: 6px;
}

.searchWrapper .searchAreaWrapper .searchKeyboard:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.searchWrapper .search__submitWrapper {
  height: 30px;
  width: 65px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.searchWrapper .search__submitWrapper .search__submitImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url("images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-left: none;
}

.searchWrapper .search__submitWrapper .searchIconImg {
  height: 20px;
  width: 20px;
  -webkit-filter: invert(38%) sepia(4%) saturate(3%) hue-rotate(340deg) brightness(99%) contrast(96%);
          filter: invert(38%) sepia(4%) saturate(3%) hue-rotate(340deg) brightness(99%) contrast(96%);
}

@media screen and (max-width: 605px) {
  .header__searchWrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__searchWrapper .header__searchAreaWrapper,
  .header__searchWrapper .search__submitWrapper {
    display: none;
  }
  .header__searchWrapper .searchIconWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .labelToggler:nth-child(4) {
    display: block;
  }
  .header__searchWrapper.active {
    position: absolute;
    width: 100%;
    max-width: 90vw;
    background-color: #fff;
    margin-left: 0;
    z-index: 20;
  }
  .header__searchWrapper.active .header__backWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    border-radius: 50%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    padding: 2px;
  }
  .header__searchWrapper.active .header__backWrapper:active {
    background-color: #e2e2e2;
  }
  .header__searchWrapper.active .header__searchAreaWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__searchWrapper.active .search__submitWrapper {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */