@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

img {
  max-height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
}

.ownScrollBar {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ownScrollBar::-webkit-scrollbar {
  width: 10px;
}

.ownScrollBar:hover::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
}

.profilAvatar {
  border-radius: 50%;
}

.buttonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */