@import '../../styles/Sass/_variables'

.logo__wrapper
  display: flex
  height: 40px
  .logo__sideNavToggler
    padding: 8px
    margin-right: 16px
  .logo__homeButtonWrapper
    width: 129px
    padding: 8px 0
    display: flex
    align-items: center
    .logo__homeButtonImg
      display: flex
      align-items: center
      height: 24px
      width: 80px
    .header__localization
      margin-left: 2px
      color: $textColor
      font-size: 10px
      align-self: flex-start
